# Deployment used by `npx convex dev` (added automatically to .env.local by the CLI)
# CONVEX_DEPLOYMENT=dev:adjective-animal-123

VITE_CONVEX_URL=https://ardent-eagle-317.eu-west-1.convex.cloud
VITE_CONVEX_SITE_URL=https://ardent-eagle-317.eu-west-1.convex.site
VITE_SITE_URL=http://localhost:3000
